/*-------------------------Login page(card)---------------*/

.login-check:invalid {
	border: var(--Mak-colors-red-500) solid 1px;
	border-radius: 1.5rem;
}
/* .login-check:valid {
	border: var(--Mak-colors-green-500) solid 1px;
	border-radius: 1.5rem;
} */

.login-check:invalid + span:before {
	position: relative;
	content: "✖";
	color: var(--Mak-colors-red-500);
	padding-left: 5px;
}

.login-check:valid + span:after {
	position: relative;
	content: "✓";
	font-weight: 600;
	color: var(--Mak-colors-green-500);
	padding-left: 5px;
}

.form-signup-icons {
	border: none;
	background: transparent;
	text-align: center;
	transition: var(--Mak-transition);
}

.social-img {
	width: 50%;
}

.login-avatar {
	width: 100%;
}

.login-avatar-img {
	width: 6.25rem;
	height: 6.25rem;
	margin-top: 1rem;
}

.forgot-btn {
	height: 3.2rem;
	border: none;
	text-align: center;
	transition: var(--Mak-transition);
	border-radius: 4px;
	padding: 1rem;
	margin: 0.875em;
	font-weight: 400;
}
