.sm-card-main-container {
	height: 15rem;
}

.sm-card-container {
	width: 15rem;
	height: 12rem;
	border-radius: 0.5rem;
	border: var(--border-grey);
}

.mid-card-main-container {
	height: 25rem;
}

.mid-card-container {
	width: 21rem;
	height: 13rem;
	border-radius: 0.5rem;
	border: var(--border-grey);
}

.margin-0 {
	margin: 0;
}

.sm-card-shadow:hover {
	box-shadow: var(--color-sm-card-shadow);
}

.sm-card-icons {
	width: 5rem;
	height: 5rem;
}

.sm-card-text {
	padding: 0.5rem;
	width: 15rem;
}
