.header-center {
	width: 98%;
	margin-left: 1rem;
	border-radius: 0 0 1rem 1rem;
}

.Header-TextSize {
	font-size: 1.225em;
}

.search-container,
.search-container:focus {
	border: none;
	outline: none;
}

.headerContainerMain {
	background-color: var(--color-pureWhite);
	height: 10rem;
}

.flex-col-end{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.icon-border{
	width: 48%;
	background: var(--color-primary);
	font-size: .85rem;
	border-radius: 1rem;
}

.padding-t0-sm{
	padding: 0 .5rem;
}

.mar-t1{
	margin-top: .75rem;
}

.search-container-main {
	background-color: var(--color-pureWhite);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.8em;
	margin: 0.5em;
	width: 20rem;
	border-radius: 1.5em;
	border: 1px solid #dbdbdb;
}

.button-transparent {
	border: none;
	background: transparent;
	cursor: pointer;
}

/* .flex {
  display: flex;
  align-items: center;
} */

.transparent-bg {
	background-color: transparent;
	border: none;
}

.wishlist_cart{
	
}

.material-icons-text {
	font-size: 1.25em;
}

.iconsContainer {
	width: 25rem;
	height: 6rem
}

:root {
	--Mak-color-bg-footer: #232f3e;
	--mak-color-txt-footer: #ddd;
}

