.footer-container-main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: var(--Mak-color-bg-footer);
  color: var(--mak-color-txt-footer);
  margin-top: 0.5rem;
}

.section-one,
.section-two,
.section-three,
.section-four,
.section-five,
.section-six,
.footer-address {
  padding: 1em;
}

.text-large {
  font-size: 2vw;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.footer-icon {
  font-size: 1.5em;
}
